name: Latest blog post workflow

on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:

jobs:
  update-readme-with-blog:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          feed_list: |
            https://teendifferent.substack.com/feed
            https://medium.com/feed/@teendifferent
          max_post_count: 5
          user_agent: Mozilla/5.0
          accept_header: text/html
